$black-color: rgb(50,50,51) !default;
$white-color: white !default;

$color-tint: #457EA6 !default; // Customisable in Chorus UI. See reference in settings.json
$base-color: $color-tint;

$background-color: desaturate(lighten($base-color, 46%), 10%);

$bright-color: $base-color;
$base-color-darker: desaturate(darken($base-color, 11%), 5%);
$grey-color: $background-color;
$dark-grey-color: lighten($base-color, 40%);

$text-color: $base-color;
$title-color: desaturate(darken($base-color, 11%), 5%);
$link-color: $text-color;
