// these are the hard-coded sizes in points or pixels, everything else will be percentages or ems
$base-font-size: 2.2vmin;
$mobile-font-size: $base-font-size * 1.6; // 16pt
$mobile-width: 480px;

// base everything on medium size == 100%, normal == 90%
							// if 10pt medium
$vbig-font-size:   140%;	// 14pt
$big-font-size:    120%;	// 12pt
$medium-font-size: 100%;	// 10pt
$normal-font-size:  90%;	//  9pt
$small-font-size:   80%;	//  8pt

$icon-size: 4ex;
$smaller-icon-size: ($icon-size*3)/4;
$icon-width: $icon-size;
$icon-height: $icon-size;
$smaller-icon-width: $smaller-icon-size;
$smaller-icon-height: $smaller-icon-size;
