itemsPerPage: 25
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content = "width = device-width">

		<link rel="stylesheet" href="{{site.url}}/css/main.scss?{{site.lastChange}}" />
		<link rel="icon" type="image/png" href="{{site.url}}/img/favicons/favicon.png">
		<link rel="shortcut icon" href="{{site.url}}/img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="{{site.url}}/img/favicons/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/img/favicons/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/img/favicons/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/img/favicons/touch-icon-ipad-retina.png">
		<link rel="mask-icon" color="#457EA6" href="{{site.url}}/img/favicons/pin_mask.svg">

		{{#if description}}
			<title>{{description}}</title>
		{{else}}
			<title>Link from {{publisher.description}}</title>
		{{/if}}
	</head>
	<body>

		{{#if devMode}}
		<div id="dev-mode">
			<div id="dev-mode-banner">Dev Mode</div>
		</div>
		{{/if}}

		<table class="topbar">
		<tr>
			<td class="logo">
				<a href="{{site.url}}"><img src="{{site.url}}logo" class="logo"></a>
			</td>
			<td>
				<form name="searchform" method="get" action="{{searchUrl}}">
					<div class="search"><input type="text" placeholder="Search..." name="q" value="{{searchTerm}}"><a href="#" data-submitform="searchform" class="icon">{{svg "img/icons/search.svg" class="icon"}}</a></div>
				</form>
			</td>
		</tr>
		<tr>
			<td>
				<br>注意： このウェブサイトは、エリオットグループより、あなたの雇用主に提供されています。 このウェブサイトにアクセスするには、雇用主から許可を得ている必要があります。
	 
				<br><br>このウェブサイトにアクセスするための条件として、次の事項について承認および同意をお願い致します。
	 
				<br><br>私は雇用主からこのウェブサイトへのアクセスを許可されています。 これらの資料には、エリオットグループまたは他の企業の機密情報が含まれている可能性があることを理解しています。 私は（私と私の雇用主を代表して）、このWebサイトの資料を確認する目的が、セキュリティインシデントに関連して公開された可能性のあるドキュメントを特定することのみであることに同意します。 さらに、私は（私と私の雇用主を代表して）、確認の結果得られた情報を、他の目的で使用または配布しないことに同意します。
				<br><br>
				__承認および同意します
				<br>
				<br>
				<br>
				NOTICE: This website has been made available to your employer by the Elliott Group. You must be authorized by your employer to access this website.
	 
				<br><br>As a condition of accessing this website, please acknowledge and agree as follows:
	 
				<br><br>I am authorized by my employer to access this website. I understand that these materials may contain sensitive and confidential information of the Elliott Group or other companies. I agree (on behalf of myself and my employer) that the sole purpose of my review of the materials on this website is to identify documents that may have been exposed in connection with a security incident. In addition, I agree (on behalf of myself and my employer) not to use or disseminate information obtained from my review for any other purpose.
	 
				<br><br>__ Acknowledged and Agreed
				<br><br>
			</td>
		</tr>
		</table>
		<div class='main'>

			{{#if description}}<div class="description">{{description}}</div>{{/if}}

			<div class="contents">

				<table class="crumbs-and-download-all">
					<tr>
						<td class="crumbs">
							<table>
								<tr>
									<td class="crumb avatar"><a href="{{site.url}}"><img src="{{publisher.avatarUrl}}" class="avatar" width="56" height="56"></a></td>
									<td class="crumb optional"><a href="{{site.url}}">{{publisher.description}}</a></td><td class="crumb {{#if currentCrumb}}optional{{/if}}">  {{svg "img/icons/prevnext.svg" class="next"}} </td>
									{{#each crumbs}}
										<td class="crumb {{#if currentCrumb}}optional{{/if}}"><a href="{{url}}">{{name}}</a></td><td class="crumb"> {{svg "img/icons/prevnext.svg" class="next"}} </td>
									{{/each}}
									{{#if currentCrumb}}<td class="crumb">{{currentCrumb.name}}</td><td class="crumb"> {{svg "img/icons/prevnext.svg" class="next"}} </td>{{/if}}
								</tr>
							</table>
						</td><td class="download-all optional">
						{{#if canDownloadAll}}
							<table>
								<tr>
									{{#if downloadAllReady}}
										<td class="text"><a href="{{downloadAllUrl}}"><span class="nowrap">Download All</span> <span class="nowrap">({{friendlysize downloadAllSize}})</span></a></td>
										<td class="icon"><a href="{{downloadAllUrl}}" class="icon">{{svg "img/icons/download.svg" class="icon"}}</a></td>
									{{else}}
										<td class="text not-ready">Download All</td>
										<td class="icon spin">{{svg "img/icons/loading.svg" title="Being prepared..."}}</td>
									{{/if}}
								</tr>
							</table>
						{{/if}}
						</td>
					</tr>
				</table>

				{{> (contents)}}

				<div class="plug">
					<a href="https://www.thirdlight.com">Chorus by Third Light</a>
				</div>
			</div>

		</div>

		<script type="text/javascript" nonce="{{scriptNonce}}">
			function foreachNode(selector, callback) {
				var matchingTags = document.querySelectorAll(selector);
				if(matchingTags) {
					matchingTags.forEach(callback);
				}
			}
			foreachNode("[data-submitform]", function(node) {
				var formAttr = node.getAttribute("data-submitform");
				if(!formAttr) {
					return;
				}
				node.onclick = function() {
					document.forms[formAttr].submit();
					return false;
				};
			});
		</script>


		{{#if canDownloadAll}}
		{{#unless downloadAllReady}}
			<script src="{{site.url}}js/jquery.js"></script>
			<script type="text/javascript" nonce="{{scriptNonce}}">
			<!--
				$( document ).ready(function() {
					setInterval(function(){
						$.ajax({
							url: "{{site.url}}/?json",
							success: function( data ) {
								if( data.downloadAllReady ){
									document.location = document.location + "?reload";
								}
							}
						});
					},1000);
				});
			//   -->
			</script>
		{{/unless}}
		{{/if}}

		{{#unless canDownloadOriginals}}
			<script type="text/javascript" nonce="{{scriptNonce}}">
				document.querySelectorAll('video').forEach(function(el) {
					el.addEventListener('contextmenu', function (e) {
						e.preventDefault();
					}, false);
				});
			</script>
		{{/unless}}
	</body>
</html>
