title:"Chorus"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{site.url}}/css/main.scss" />
		<link rel="icon" type="image/png" href="{{site.url}}/img/favicons/favicon.png">
		<link rel="shortcut icon" href="{{site.url}}/img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="{{site.url}}/img/favicons/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/img/favicons/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/img/favicons/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/img/favicons/touch-icon-ipad-retina.png">
		<link rel="mask-icon" color="#457EA6" href="{{site.url}}/img/favicons/pin_mask.svg">

		<title>{{title}}</title>
	</head>
	<body>
		<table class="topbar">
		<tr>
			<td class="logo">
				<a href="{{site.url}}"><img src="{{site.url}}/logo" class="logo"></a>
			</td>
		</tr>
		</table>
		<div class="main invalid">

			<div class="contents">
				{{> (contents)}}
			</div>
		</div>
		<script type="text/javascript" nonce="{{scriptNonce}}">
			function foreachNode(selector, callback) {
				var matchingTags = document.querySelectorAll(selector);
				if(matchingTags) {
					matchingTags.forEach(callback);
				}
			}
			foreachNode("[data-submitform]", function(node) {
				var formAttr = node.getAttribute("data-submitform");
				if(!formAttr) {
					return;
				}
				node.onclick = function() {
					document.forms[formAttr].submit();
					return false;
				};
			});
		</script>

	</body>
</html>
