title:"You have been signed out"
---
{{#unless emailSent}}

<h1>{{svg "img/icons/warning.svg" title="Warning"}} You have been signed out</h1>

<p>Please enter your email address and we'll send you a new sign-in link.</p>

<form name="loginform" method="post" action="{{loginUrl}}">
	<div><div class="text-input"><input type="text" name="email" placeholder="Email address"></div></div>
	<br>
	<div><a href="#" data-submitform="loginform" class="button">SEND</a></div>
</form>

{{else}}
	<h1>{{svg "img/icons/email.svg" title="Email"}} Email Sent</h1>
	<p>An email has been sent. Please check your inbox.</p>
{{/unless}}