subject: "New Link"
heroText: "New Link"
link: "{{#if authenticatedUrl}}{{authenticatedUrl}}{{else}}LINK-IN-HERE{{/if}}"
---
    {{#if name}}<p>Dear {{name}},</p>{{/if}}
    <p>
        Here is the new link {{#if description}}to <i>“{{description}}”</i>{{/if}} you requested.
    </p>
    <p>
        <a href="{{authenticatedUrl}}" target="_blank">{{link}}</a>
    </p>
    <br>
    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
        <tbody>
            <tr>
                <td style="border:none;border-radius:10px;color:#ffffff;cursor:auto;padding:10px 25px;" align="center" valign="middle" bgcolor="#7ED321"><a href="{{authenticatedUrl}}" style="text-decoration:none;background:#7ED321;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:18px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;"
                        target="_blank">View Now</a></td>
            </tr>
        </tbody>
    </table>