subject: "{{publisher.name}} has shared some files with you..."
avatarHeroText: "<b>{{publisher.description}}</b> has shared {{#if description}}<b>“{{description}}”</b>{{else}}some files{{/if}} with you..."
quote: "{{#markdown}}{{message}}{{/markdown}}"
---

    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
        <tbody>
            <tr>
                <td style="border:none;border-radius:10px;color:#ffffff;cursor:auto;padding:10px 25px;" align="center" valign="middle" bgcolor="#7ED321"><a href="{{authenticatedUrl}}" style="text-decoration:none;background:#7ED321;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:18px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;"
                        target="_blank">View Now</a></td>
            </tr>
        </tbody>
    </table>

	<br>

<center>
	{{#for folders start=0 limit=10}}
		<div><a href="{{authenticatedUrl}}" target="_blank"><img src="{{thumbUrl}}" width="400"/></a></div>
	{{/for}}
	{{#for files start=0 limit=10}}
		<div><a href="{{authenticatedUrl}}" target="_blank"><img src="{{thumbUrl}}" width="400"/></a></div>
	{{/for}}
</center>
